@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    background: rgba($color: black, $alpha: 0.7);
    overflow: hidden;
}

.container {
    background: transparent;
    width: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column;
    &:first-child {
        padding-top: 5vh;
    }
    #menu {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-flow: column;
        margin-top: 2.5vh;
        .out {
            justify-content: center;
            margin-bottom: 2vh;
            input[type=url] {
                width: 80%;
                height: 5vh;
                align-items: center;
                text-align: center;
                font-weight: normal;
                &:hover {
                    font-weight: bold;
                }
            }
        }
        .config {
            flex-flow: row;
            justify-content: space-around;
            line-height: 5vh;
            div {
                span {
                    color: white;
                    margin: 0 10px;
                    text-transform: capitalize;
                    span {
                        text-transform: none;
                        color: black;
                        margin: 0 3px;
                        padding: 0 10px;
                        background: white;
                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .btngroup {
            display: flex;
            justify-content: space-around;
            flex-flow: row;
            position: absolute;
            bottom: 5vh;
            left: 0;
            width: 100%;
            a {
                text-decoration: none;
                background: white;
                padding: 5px 15px;
                border-radius: 10px;
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
    table {
        max-width: 50%;
        margin-top: 2.5vh;
        text-align: center;
        thead {
            tr {
                background: white;
                th {
                    border: 3px solid orangered;
                    width: 5% !important;
                    &:nth-child(2) {
                        width: 10%;
                    }
                }
            }
        }
        tbody {
            tr {
                opacity: 0;
                &:nth-child(odd) {
                    background: rgba($color: coral, $alpha: 0.4);
                }
                &:nth-child(even) {
                    background: rgba($color: cyan, $alpha: 0.4);
                }
                td {
                    border: 2px solid orangered;
                    width: 5%;
                    &:first-child {
                        font-weight: bold;
                    }
                    &:nth-child(2) {
                        width: 10%;
                        text-align: left;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
    
}